/*Hidden Character affecting my work. */
.header
{
	margin-top: -200px;
	font-size: 100pt;
	height: 1000px;    
	background-image: url(images/soccerdark.jpg);
    background-position: center ;
    background-repeat: no-repeat;
	color: white;
	text-align: center;
    line-height: 5ex;
}
#swag
{
	font-size: 10pt;
	margin-top: -48ex;
}
table, th, td
{
    border: 1px solid black;
	margin-left: 3ex;
	margin-top: 48ex;
	font-size: 18pt;
}
#Intro
{
	margin-top: -45ex;
}

 h1
 {
	color: white;
	text-align: center;
	line-height: 396px;
	margin-bottom: -100px;
 }
	 
h2
{
	font-size: 24pt;
}
h3
{
	font-size: 18pt;
}
h4
{
	font-size: 13pt;
}
body
{
  padding: 0px;
  margin: 0px;
  background: #e0ffe0;
}
p
{
	text-align: center;
	font-size: 16pt;
	padding: 5px;
	color: black;
	margin: auto;
    width: 50%;
}

.center
{ 
	margin-left: 14ex;
	text-align : justify;
	color : red; 
	font-size: 24pt;

}

.subhead
{
	text-align: center;
	color: black;
}

ol
{
	margin-left: 70ex;
}

#Rules
{
	text-align: center;
}

.formimg
{
	display: block;
	margin-top: 10em;
    margin-left: 10em;
}

.special_para
{
	margin-top: -10em;
    margin-right: 10em;
    margin-left: 20em;
}


#leaguetitle
{ 
	margin-top: 15ex;
	color: red
	/* There is a hidden character here messing it up. If I put the semicolon there it doesn't affect the next line*/;
	font-size: 24pt;
	margin-left: 14ex;
}
	
.headpara
{
	margin-left:20ex;
    text-align:justify;
   border-top: 3px solid red;
   width: 70%

}
img
{
	margin-top: 3ex;
	display: block;
}